In [ ]:
import pandas as pd

In [ ]:
df_general=pd.read_excel('general_6.xlsx')

In [ ]:
df_general.head()

,Nombre municipio,Codigo,COD_INE,Nombre,Habitantes,Provincia,IPVA(2023) INE,LONGITUD_ETRS89,LATITUD_ETRS89,Precio Alquiler m2 Mayo 2025,Precio Venta m2 Mayo 2025,Num_Hospitales,Num_Centros_AP,Num_Infantil,Num_Primaria,Num_Secundaria
0,44001 Ababuj,44001,44001000000,Ababuj,74,Teruel,NaN,-0.807801,40.548459,NaN,NaN,0,1,0,0,0
1,40001 Abades,40001,40001000000,Abades,859,Segovia,NaN,-4.267874,40.916340,NaN,NaN,0,1,1,0,0
2,10001 Abadía,10001,10001000000,Abadía,331,Cáceres,NaN,-5.977858,40.259532,NaN,NaN,0,1,0,0,0
3,27001 Abadín,27001,27001000000,Abadín,2217,Lugo,NaN,-7.474996,43.363587,NaN,NaN,0,1,1,1,0
4,48001 Abadiño,48001,48001000000,Abadiño,7742,Bizkaia,NaN,-2.606873,43.147646,NaN,NaN,0,2,0,0,0

In [ ]:
df_general['Precio Alquiler m2 Mayo 2025'].unique()

array([nan, '20,4 €/m²', '11,7 €/m²', '8,2 €/m2', '12,4 €/m2', '7,1 €/m2',
       '15,8 €/m2', '13,0 €/m2', '10,0 €/m2', '7,9 €/m2', '11,9 €/m2',
       '6,1 €/m2', '6,0 €/m2', '9,1 €/m2', '10,5 €/m2', '11,8 €/m2',
       '7,0 €/m2', '8,1 €/m2', '17,6 €/m²', '10,6 €/m2', '9,3 €/m2',
       '18,8 €/m²', '8,7 €/m2', '10,0 €/m²', '8,3 €/m2', '8,4 €/m2',
       '8,5 €/m2', '9,9 €/m2', '13,5 €/m2', '9,6 €/m2', '23,9 €/m2',
       '19,0 €/m2', '16,0 €/m2', '11,7 €/m2', '15,0 €/m2', '12,3 €/m2',
       '10,3 €/m2', '11,0 €/m2', '7,7 €/m2', '22,5 €/m²', '9,8 €/m2',
       '10,4 €/m2', '12,8 €/m2', '13,0 €/m²', '10,7 €/m2', '9,7 €/m2',
       '8,8 €/m2', '7,4 €/m2', '13,1 €/m2', '9,5 €/m2', '8,9 €/m2',
       '9,4 €/m2', '23,4 €/m2', '17,6 €/m2', '7,5 €/m2', '14,5 €/m2',
       '15,2 €/m2', '12,2 €/m2', '12,7 €/m2', '18,2 €/m2', '13,3 €/m2',
       '14,8 €/m2', '15,1 €/m²', '12,0 €/m²', '7,8 €/m2', '6,7 €/m2',
       '5,7 €/m2', '15,2 €/m²', '9,0 €/m2', '6,4 €/m2', '21,7 €/m2',
       '15,6 €/m2', '13,2 €/m²', '19,1 €/m2', '14,2 €/m2', '11,6 €/m2',
       '12,5 €/m2', '10,2 €/m2', '14,6 €/m2', '19,5 €/m²', '6,8 €/m2',
       '13,7 €/m2', '13,6 €/m²', '15,1 €/m2', '16,2 €/m2', '10,8 €/m2',
       '11,4 €/m²', '5,8 €/m2', '10,3 €/m²', '12,0 €/m2', '11,2 €/m2',
       '13,8 €/m2', '20,5 €/m²', '11,2 €/m²', '17,0 €/m2', '26,8 €/m²',
       '15,4 €/m2', '17,4 €/m2', '12,6 €/m²', '11,0 €/m²', '12,7 €/m²',
       '18,7 €/m2', '11,1 €/m2', '10,1 €/m²', '13,2 €/m2', '9,2 €/m²',
       '16,8 €/m2', '8,0 €/m2', '11,5 €/m2', '11,3 €/m2', '12,9 €/m2',
       '15,7 €/m2', '8,6 €/m2', '7,2 €/m2', '13,4 €/m2', '15,3 €/m2',
       '16,4 €/m2', '12,1 €/m2'], dtype=object)

In [ ]:
df_general['Precio Venta m2 Mayo 2025'].unique()

array([  nan, 1030.,  587.,  835., 1844., 4327., 1082., 1094., 1005.,
       1543., 1604.,  692., 3814.,  789., 1827., 4185.,  730., 1745.,
        747.,  997.,  937., 1040., 1497., 1600.,  768.,  951., 2404.,
        903., 2955., 1602.,  857.,  923., 1956., 2827., 1209., 4493.,
       1428., 2934., 1152., 1429.,  763., 1450., 3303., 1244., 2149.,
        930.,  870., 3157.,  511.,  610.,  764.,  618.,  344.,  644.,
        727., 1480.,  743., 1537., 1009., 1026., 2712., 1612., 2594.,
       2320., 2885., 3278., 1029., 1547.,  499., 1012., 1172., 2866.,
       7545., 1067.,  873., 2553., 1387., 1905., 1398.,  999., 1013.,
        725., 2599., 2076.,  471.,  651., 2185., 2240., 1847., 1295.,
       3636., 1913., 1708.,  494., 2251., 1380.,  559., 1403.,  998.,
       1710.,  708., 1190., 1464.,  554., 1952.,  474., 1721., 1485.,
       2324., 1704.,  623., 2232., 1074., 1756., 1176., 1538.,  643.,
        832., 2919., 1070., 2093., 2237., 4895.,  911., 1060., 1593.,
       1562., 2661.,  697., 2017., 2751., 3703.,  717., 1366., 2884.,
        451., 1130., 2965.,  707., 1357., 3158.,  699., 3658., 3588.,
        970., 2095.,  663., 2253., 1877., 1866.,  765., 2015.,  788.,
       3553., 1470., 2188., 3495.,  626.,  777.,  738., 1305., 1247.,
        676., 2624., 1540.,  450., 4162.,  762.,  941., 1909.,  755.,
       1811., 1181.,  921., 1391.,  507.,  979., 2644., 1310., 2349.,
        571., 1434.,  977., 6868., 3029., 1462.,  793., 2052., 1154.,
       1996.,  886., 1524., 2084., 2935., 2287.,  657.,  677.,  955.,
       6790., 1000., 1658., 1792., 1496., 1517., 2467., 3143., 3011.,
        472., 1676.,  704.,  629., 2344.,  869., 2438., 2469., 1420.,
        981., 1372., 3952.,  746., 1417., 1504.,  685., 2245.,  960.,
       1286.,  540., 1257., 1659., 1452.,  949.,  799., 1457., 1381.,
        638.,  934., 1433., 1337., 1781., 1149., 2028., 4187., 1466.,
       1179., 1559., 1410., 1062., 2414.,  889., 1323., 1556., 1230.,
        552.,  895.,  985.,  855.,  815., 1750., 2087., 2696., 1907.,
        680., 2325.,  900., 2013., 1345., 1120., 2341.,  734., 1635.,
        878., 1116., 1369., 3740., 2264.,  848.,  828., 1993., 1110.,
       2475., 1374., 2542., 1481., 3069.,  505., 1794., 1586.,  993.,
        784., 2698.,  568., 1134., 1084., 2703., 1786., 1763., 2179.,
       1441., 1322., 1885., 2027.,  791.,  672., 2485., 1188., 1888.,
        825., 2653., 2198., 6625., 1066.,  823., 1954., 1903., 2316.,
       1744.,  506., 3974., 1315., 1003.,  940., 2086.,  805., 1049.,
       1422., 3208.,  549., 8794., 1516., 1348., 2477.,  984., 2224.,
       1432., 2272., 1248., 2818., 1235., 1302., 2347., 1419., 1095.,
       1414., 3386., 1498.,  735., 2722., 4126., 2285., 1507., 2498.,
       1263., 1445., 1898.,  709., 2422., 2769., 2239., 1151., 1221.,
       1760., 1899., 2145., 2375.,  637.,  845., 1648., 1086.,  797.,
        539., 3422., 4593.,  535.,  721., 1314., 2515.,  625., 1143.,
        899., 1736., 2174.,  963., 1465., 2304., 2947., 2187., 1613.,
       1058., 1513.,  650., 1714., 2586.,  770., 1359., 2731., 3500.,
        461., 1532., 1959., 2642., 1394., 2134., 2447., 1327.,  557.,
       1737., 1728., 1203., 2405., 2478., 3966., 2082., 1544., 1175.,
        968., 1423.,  561., 1399., 5573.,  510.,  834., 1133.,  851.,
       3943., 1982.,  902., 3018., 1624., 1294.,  696.,  632., 2175.,
       1739., 1809., 3241., 1679., 2462., 2113., 2039., 1206., 1917.,
       2073.,  547., 1010., 1047.,  479., 1607., 1564., 1412., 4198.,
        798., 1131., 3065., 1036., 1560.,  722., 1929., 2750., 3233.,
       1004., 2209., 2044., 2075., 1950.,  541.,  621., 1079., 2662.,
        478., 1059., 2565.,  790., 1270.,  988.,  703., 2500., 1351.,
       2124., 1023., 1872., 1990.,  962.,  929.,  914.,  447., 2152.,
        935., 1085.,  950., 1055., 2826., 1285., 2548., 1044.,  800.,
       2719., 2206., 1252., 3224., 1511.,  749.,  879., 1838.,  684.,
        720.,  849.,  909., 2021.,  894., 2658., 1883., 2303., 1782.,
       1487.,  864.,  646., 1674., 2257., 2767., 2583., 2079., 1717.,
       1402., 2406., 2507., 2998., 2528., 2330., 1998.,  980., 2977.,
       2220., 2046.,  760., 1863.,  400., 2634., 1977., 1683., 1274.,
       1700., 1447., 3089., 1652.,  716., 2009., 1156., 2450., 1506.,
       3261.,  526., 1436., 1499.,  701.,  927., 1711., 2162., 4337.,
       2800., 1195., 1077.,  850., 2154., 2416., 3937., 1536., 2723.,
        740.,  667., 4356.,  615., 2918., 2499., 2014., 1242.,  826.,
       3177., 2262., 1848.,  617., 2924., 5414.,  555., 1260., 1279.,
        865., 1382.,  652., 1406., 1127., 2056., 1268., 1912., 1216.,
       2377., 2600., 1936., 1125.,  654., 2241., 1324., 1375.,  809.,
       2948., 3445., 1971., 2064., 2091.,  774.,  836., 1096., 2355.,
       1075., 2271., 4551.,  574., 1875., 1740., 2517., 2081., 1076.,
       2384., 1611., 1356.,  639., 2849., 2501.,  567., 3502., 2234.,
       2975., 6702., 2432., 1867., 1805., 4418., 1828., 2759., 2904.,
       1670., 1027., 1583., 7898., 1185., 3347., 7089., 2050., 4129.,
       1405., 2943., 2486., 1891., 3216., 1940., 2171., 1807., 1573.,
       3395.,  976., 1832., 1358.,  719., 2058., 2395., 1924., 2727.,
       2048., 3633.,  859.,  442.,  916., 1837.,  876., 2802., 2825.,
       1064.,  771., 2026., 2622., 3631., 1862., 1477., 1340., 2328.,
       2122.,  742.,  689., 1521., 1271., 2930., 4636., 1119., 1099.,
       2967.,  619., 1804.,  933., 2261., 1662., 2693., 1153.,  671.,
       1052., 4169., 2092., 3296., 1159.,  673., 1997., 3215.,  636.,
       1803.,  682., 1098., 2018., 1533., 1034.,  537., 1065., 2089.,
       2562., 1484., 1476., 2628., 1494.,  750., 1791.,  904., 2370.,
       3063.,  975., 3596., 1207.,  773., 1514., 1093., 2038., 1069.,
       1126.,  459., 1503., 1594., 2123., 1161., 3017., 1846.,  890.,
        542., 1250., 1747., 2065., 1024., 2117., 2256., 1972., 1198.,
        966., 2180., 2700., 1920., 1325., 1132., 1331., 1267., 2203.,
       2552., 1550., 2777., 3437.,  349., 1227.,  475.,  489.,  751.,
       1752., 1002., 2774., 1347.,  948.,  430., 3024., 1193.,  595.,
        518., 1693., 2835., 1163., 1238., 1672., 1983., 1806., 3906.,
        812.,  971., 1245., 2045., 6464.,  989.])

In [ ]:
def limpiar_precio_alquiler(valor):
    if isinstance(valor, str):
        valor = valor.replace('€/m²', '').replace('€/m2', '').replace(',', '.').strip()
    try:
        return float(valor)
    except:
        return None

df_general['Precio_Alquiler'] = df_general['Precio Alquiler m2 Mayo 2025'].apply(limpiar_precio_alquiler)

In [ ]:
df_general['Precio_Venta'] = pd.to_numeric(df_general['Precio Venta m2 Mayo 2025'], errors='coerce')

In [ ]:
# Rellenar alquiler con media provincial
df_general['Precio_Alquiler'] = df_general.groupby('Provincia')['Precio_Alquiler'].transform(
    lambda x: x.fillna(x.mean())
)

# Rellenar venta con media provincial
df_general['Precio_Venta'] = df_general.groupby('Provincia')['Precio_Venta'].transform(
    lambda x: x.fillna(x.mean())
)

In [ ]:
df_general.to_excel("general_7.xlsx", index=False)